<!--
<div class="category_sidebar tc border f12">
  <a style = "color:green">类别：</a>


  <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>



 </div>
-->

<table class = "table table-bordered">
<% @wordkeys.each do |wordkey| %>
<tr>
<td>

<a>  <%= link_to( wordkey.title, wordkey_path(wordkey))%></a>
</td>




  </tr>
<% end %>

  </table>
