<%@downloads.each do |d|%>
<p><%= d.title %></p>
<% if d.attachment.present? %>
         <i class="fa fa-paperclip"> </i>
         <%= link_to("观看视频", d.attachment_url) %>
       <% else %>
          没有文件可供观看
       <% end %>

       <% end %>
