<%= link_to("我要问:",new_ask_path)%>
<%= link_to("回答:", :style => "font-size: 30px; text-decoration:underline;") %>

<h1></h1>
<% @asks.each do |ask|%>
<p><%=link_to( ask.asking,ask_path(ask) )%></p>
<% if current_user.admin? %>

<%= link_to("回答", new_admin_ask_answer_path(ask), :style => "font-size: 30px; text-decoration:underline;") %>
<% end %>
<% end %>
