<div class="category_sidebar tc border f12">
<% @a.each do |category| %>
<%= link_to category.name, articles_path(category: category.id) %>

   <% end %>
   <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>



 </div>

 <% @articles.each do |article|%>
 <%= article.content %>
 <% end %>
