

<div class="category_sidebar tc border f12">
  <a style = "color:green">类别：</a>
<% @a.each do |category| %>
<%= link_to category.name, articles_path(category: category.id) %>

   <% end %>
   <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>



 </div>
 <table class = "table table-bordered">

 <% @articles.each do |article|%>
  <tr>
    <td>
 <%= link_to(article.title,article_path(article))%>
  </td>
  <td>
<%=   %>
</td>
  </tr>
 <% end %>
    </table>
