


<h1>各种产品的价格：</h1>



<h2>网站产品</h2>
<h4>释义： 网站是最丰富表达的媒介。网站可以放视频、文字、图片，放各种功能：通讯、计算、检索等。网站的制作只有一个目标：帮客户解决麻烦。 可以是信用、知识、物理空间、信息传递的麻烦等等，<br>
我听说，网站的制作并不简单，它可以是企业的整个互联网线上战略的一个环节，它甚至与品牌、营销相关.网站的制作直接面向网站的使用，所以在制作过程中，当然需要有企业的领导者参与。
   </h4>
<p>网站建设时间：2-3个月</p>
<p>网站价格： 29800元/3年 + 续费5980/年 买n年送n年</p>

<a href=" /welcome/show">网站效果：点击网站案例</a>
<h2>中文域名产品</h2>
<p>释义：域名分2种，中文和英文，www.shibin.work 就是英文域名。 而 “巧克力.在线”就是中文域名。
中文域名的好处是容易被中国人记住。 另外 “.在线”域名附加了一个属性，那就是二维码属性，且此二维码永远不变，除非域名到期且无续费，接下来可以试一下。</p>


<h3>给王总的同行业中文域名使用案例</h3>
<a href=" http://www.citysweet.cn">蛋糕.在线</a><br>
<a href=" http://www.chocolatefactory.cn">巧克力.在线</a><br>
<a href=" http://www.qdfukangbao.cn/">牛扒饭.中国</a><br>
<a href=" http://www.xydzp.com">豆制食品.在线</a><br>
<a href=" https://mp.weixin.qq.com/s/sGgCa7QXI4pCjpohTXdohw?">火烧.在线</a><br>
<a href=" https://www.delisi.com.cn">火腿肠.在线</a><br>
<a href=" http://www.chazhidu.com.cn">奶茶.在线</a><br>
<a href=" http://www.cxcyfood.cn/">素食.在线</a><br>
<a href=" https://www.dfyxtea.cn/">普洱茶.在线</a><br>
<a href=" https://licun.tmall.com/?spm=a1z10.1-b-s.1997427721.d4918105.6353071aonCLdk">脂渣.在线</a>
<h3>.在线域名聚合页面使用案例，请扫：</h3>
 <%= image_tag("https://shibin-1307066434.cos.ap-beijing.myqcloud.com/chdoamin.jpg") %>





 <h2>seo产品</h2>
 <h4>释义：seo,就是网站优化，目的是把自己的网站排列到搜索引擎首页，seo分传统优化和技术优化，<br>传统优化就是老老实实在网站内发布原创文章，对本行业有用的链接、另一方面为了优化代码架构等。
 <br>技术优化是依托搜索引擎中的重要算法进行优化，这些重要算法很难琢磨，据说需要有优秀的数据分析能力，一些公司就是运用技术优化把网站做到了首页。
 <br>
 另外，几乎所有互联网公司都是技术优化，通过技术优化，互联网公司可以单指定某一个搜索引擎，把网站排到首页。
 </h4>
 <p>服务形式： 客户选择5个主词+ 50个副词</p>
 <p>如何挑选： 客户自己选择5个主词，放入系统，系统根据每个主词推出十几个副词，客户再选副词</p>

 百度推广价格： 前三页：10元、5元、2元。
 百度pc端和手机端价格一样

 <p>缴费方式： 预充值</p>
 <a href=" /seos">推广效果：seo案例</a>
