

<h2>网站可以很重要</h2>


<h5>想要用好网站，2个问题最重要</h5>
<p>
1、做了网站后，该不该让别人运营，让别人在网站内写文章、让别人填充视频？<br>
2、什么内容应该是第一位的？<br>

  </p>
  <h5>生产和销售，其实同等重要</h5>
<p>
1、生产，其实是个认真、朴素、负责的学问。一个人要对产品制造认真、对产品的用处的认识朴素、对客户负责，那么这个人也就更值得长期合作，他生产出的产品也就更好一些，。
<br>
2、销售，其实是个向客户传递感知的学问，众所周知，一切的不认真、不朴素、不负责，都源于想要少做一点事情，有的人更可怕：少做了最重要的事情。其实，把网站交给员工不就是一个很好的例子吗？
  </p>




<h5>本网站非主要用于帮助朋友节省时间和正确做事，</h5>
1、因为网站的运营，除了对自己产品的了解外，还有一个不重要的东西：对互联网方面的了解。石斌用自己践行后的硬经验，帮朋友在网站各个方面提供建议、节省时间。<br>

<br>

<h5>鉴于石斌要“帮助”朋友，那就说明石斌的自我要求应该更高，石斌在做以下事情：</h5>
<p>
1、独立搭建网站：从本地开发的设施安装、到开始开发、到云端服务器配置、到其他配置、最终上线。<br>
2、独立运营网站：根据外界的需求，更改网站的功能、添加网站内容<br>
3、独立优化关键词：暂时试图把“石斌”关键词做到百度首页。<br>

</p>
<p></p>
<%= link_to("沟通与咨询:",new_ask_path,:class=> 'btn btn-default')%>
