

<h2>网站可以很重要</h2>
<h5>
一个清晨，王先生推开石斌的办公房间问：石斌是谁，他这个人究竟能不能长期合作，他的做面包步骤是什么，管理怎么样，他的面包到底好不好吃，为什么有客人说石斌牌面包是毫无经验的新手做的！ <br>石斌的朋友答曰：“他嘛，一句话真的还说不完”<br>
先生于是问：“石斌不是有网站吗？ 网站是最好的自我介绍，文章、视频、图片、互动、留言、吐槽，这么好的自我介绍不用，难不成石斌的网站是被人代写的！”<br>
答曰：那倒也是，网址域名是：shibin.work  你进去看看吧！<br>

先生看网站时两眼睛不停发亮，仿佛看到了挚爱，看完网站后于是问：“哦，原来石斌的网站里面还有对健康的研究、对健身的研究。对行业以及原材料的研究，甚至网站内有健康权威网站的链接，点击以后就可以跳转。他做的面包：不加糖、不加盐、不加黄油、不加面包屑、只用全麦面粉和普通面粉，鸡蛋和花生油。这面包果然没味道”<br>


</h5>

<p>
做了网站后，却让别人运营，让别人在网站内写文章、让别人填充视频，这种做法是不对的。<br>
做网站之前，在网站功能架构方面，仅盯准了页面展示和特效，认为页面展示最重要，这种想法是不对的。<br>

  </p>
  <h5>生产和销售，其实同等重要</h5>
<p>
1、生产，其实是个认真、朴素、负责的学问。一个人要对产品制造认真、对产品的用处的认识朴素、对客户负责，那么这个人也就更值得长期合作，他生产出的产品也就更好一些，。
<br>
2、销售，其实是个向客户传递感知的学问，众所周知，一切的不认真、不朴素、不负责，都源于想要少做一点事情，有的人更可怕：少做了最重要的事情。
  </p>




<h5>本网站非主要用于帮助朋友节省时间和正确做事，</h5>
1、因为网站的运营，除了对自己产品的了解外，还有一个不重要的东西：对互联网方面的了解。石斌用自己践行后的硬经验，帮朋友在网站各个方面提供建议、节省时间。<br>

<br>

<h5>鉴于石斌要“帮助”朋友，那就说明石斌的自我要求应该更高，石斌在做以下事情：</h5>
<p>
1、独立搭建网站：从本地开发的设施安装、到开始开发、到云端服务器配置、到其他配置、最终上线。<br>
2、独立运营网站：根据外界的需求，更改网站的功能、添加网站内容<br>
3、独立优化关键词：暂时试图把“石斌”关键词做到百度首页。<br>

</p>
<p></p>
<%= link_to("沟通与咨询:",new_ask_path,:class=> 'btn btn-default')%>
