

<h2>网站可以很重要</h2>




<h5>生产和销售，其实同等重要</h5>



<h5>本网站非主要用于帮助朋友节省时间和正确做事，</h5>

<br>

<h5>石斌已经在做以下事情：</h5>
<p>
1、独立搭建网站：从本地开发的设施安装、到开始开发、到云端服务器配置、到其他配置、最终上线。<br>
2、独立运营网站：根据外界的需求，更改网站的功能、添加网站内容<br>
3、独立优化关键词：暂时试图把“石斌”关键词做到百度首页。<br>

</p>
<p></p>
