<div class="lp">
	<div class="lp-banner">
	  <div class="vipjumbotron">
	    <div class="text-content">
	      <h1 class="vipjumbotron-title">相见恨晚的名片</h1>
	      <p class="vipjumbotron-slogan">
线上网站域名：石斌.我爱你	      </p>
	      <p class="vipjumbotron-lead"><a class="btn-lg lp-b-btn" href="/articles">
	      	进入详细</a>
	      </p>



	    </div>

	  </div>
	</div>


	<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50">您为什么要做网站？</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://shibin-1307066434.cos.ap-beijing.myqcloud.com/1.jpg">
						<p class="lp-advantage-title f18 mt20">丰富媒介</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">网站手机、电脑、ipad、微信、所有媒介全覆盖</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://shibin-1307066434.cos.ap-beijing.myqcloud.com/2.jpg">
						<p class="lp-advantage-title f18 mt20">属于自己</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">客户往往会百度一下您的公司，对您进行了解</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="https://shibin-1307066434.cos.ap-beijing.myqcloud.com/3.jpg">
						<p class="lp-advantage-title f18 mt20">功能扩展</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">甚至通过网站进行计算价格、订单、预定</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="lp-products pt60 pb60 lp-bg-gray">
		<h2 class="title tc f22 pb50">您需要了解更多</h2>
		<p></p>
		<p>商业在我看来分为2个步骤：产品、传播，关于传播，我个人在使用网站，所以我推荐您使用网站，这是我在市场上挑选出最大、最具实力的互联网公司，所以我推荐
		您使用我公司的互联网产品。</p>
		<p>技术实现对您来说不重要，您最首要在乎的是传播。然而安全性、稳定性、挑出好的产品是销售者的责任，我所知道的是：中船重工集团、三一重工、青岛双星轮胎、青岛自来水公司、青岛市公安局、
			青岛市民政局、青岛银行、招商银行青岛分公司、兴业银行青岛分公司等国家企业选择了我们的产品， </p>

			<p>我认为销售者的责任不应仅仅是挑出好产品，他还应该花更多的精力研究传播的道理，所以，基于一些原因我开始使用第二个网站：</p>

			<p class="vipjumbotron-lead"><a class="btn-lg lp-b-btn" href="http://www.shibin789.wordpress.com/">
				进入副站（电脑端可进入）</a>
			</p>

	</div>








	<div class="lp-action tc pr">
		<div class="text-content pa pt60 pb60">
			<p class="f16 pb20">1000款案例随您查看</p>
			<p class="wow zoomIn" data-wow-duration=".5s">
				<a class="btn-lg lp-b-btn bc"  href="/welcome/index">查看案例</a>
			</p>
		</div>
	</div>
</div>
