<div class="lp">
	<div class="lp-banner">
	  <div class="vipjumbotron">
	    <div class="text-content">
	      <h1 class="vipjumbotron-title">相见恨晚的名片</h1>
	      <p class="vipjumbotron-slogan">
线上网站域名：石斌.我爱你	      </p>
	      <p class="vipjumbotron-lead"><a class="btn-lg lp-b-btn" href="/articles">
	      	进入详细</a>
	      </p>
	    </div>
	  </div>
	</div>


	<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50">您为什么要做网站？</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="https://shibin-1307066434.cos.ap-beijing.myqcloud.com/1.jpg">
						<p class="lp-advantage-title f18 mt20">丰富媒介</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">网站可以放图片、音频、视频、功能等，所有媒介全覆盖</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="https://shibin-1307066434.cos.ap-beijing.myqcloud.com/2.jpg">
						<p class="lp-advantage-title f18 mt20">属于自己</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">网站的流量属于自己、内容权限属于自己、传播权限属于自己,</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="">
						<p class="lp-advantage-title f18 mt20">随时传播</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">快捷、丰富、跨越时空、随时随地</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--ß	<div class="lp-products pt60 pb60 lp-bg-gray">
		<h2 class="title tc f22 pb50">您实际上需要的是“线上推广”</h2>
		<div class="productList-wrap w1200 bc">
    <ul class="productList clearfix pb20">
fdgfdgfdgfgd

    </ul>
  </div>
	</div>
-->


<div class="lp-how pt60 pb60 lp-bg-gray">
		<h2 class="title tc f22 pb20">您还需要</h2>
		<p class="f16 tc light">搜索引擎推广、视频号推广</p>

	</div>
	<div class="lp-how pt60 pb60 ">
			<h2 class="title tc f22 pb20">您更需要</h2>
			<p class="f16 tc light">搜索引擎推广方式、视频号推广方式、行业推广数据参考</p>
		</div>

	<div class="lp-feedback pt60 pb60 lp-bg-gray">
		<h2 class="title tc f22 pb20">我们的实力</h2>
		<p class="f16 tc light pb30">听听他们是怎么评价的</p>
    <div class="home-people container">
    	<div class="row">
    		<div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd6f2qhsagj30aa0a40wo.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            项旭涛
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">拍照!</div>
	        </div>
	      </div>
	      <div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd6fdugpl3j30cc0d20zq.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            李媛
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">管钱</div>
	        </div>
	      </div>
	      <div class="item person fl col-md-4">
	        <div class="avata-wrapper">
	          <img class="avata" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd6f6vnin5j30jy0k2k43.jpg">
	        </div>
	        <div class="intro clearfix">
	          <div class="name">
	            妙
	          </div>
	        </div>
	        <div class="words wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
	          <span class="bg"></span>
	          <span class="fa fa-quote-left quote quote-l iconfont"></span>
	          <span class="fa fa-quote-right quote quote-r iconfont"></span>
	          <div class="content">睡觉</div>
	        </div>
	      </div>
    	</div>
    </div>
	</div>

	<div class="lp-action tc pr">
		<div class="text-content pa pt60 pb60">
			<p class="f16 pb20">1000款同行案例随您选</p>
			<p class="wow zoomIn" data-wow-duration=".5s">
				<a class="btn-lg lp-b-btn bc"  href="/welcome/index">查看案例</a>
			</p>
		</div>
	</div>
</div>
