

<h2>前言</h2>




<h5>这是我第三次改版，本网站把”青岛模具”这个具备经济价值的词汇呈现给各位领导，以证明我不仅仅拥有网站开发能力，而且有网站seo优化能力。<br>在boss直聘上，企业花8000元底薪
聘请网站优化师未果，使我明白seo优化对企业至关重要，却“优化师”紧缺。  <br>我作为销售者，绝对不可以成为拿钱走人的人，我必须提供市场价值，这是第一层价值：信用价值。 有了这一层
价值，就能大大节省领导们的时间成本。 <br>第二层价值：提供服务的价值，石斌有能力seo优化，但是优化不像做网站那样抽象，石斌完全可以为企业的seo做出指导，而且石斌相信任何人也完全可以具备seo能力。

</h5>






<br>

<h5>三次改版过程：</h5>
<p>
不仅仅是前言更改，本网站其实经过多次改版，我是销售者，本网站的目的当然是服务客户。我认为客户的时间最重要，
 所以，第一版的前言的侧重点是节省客户时间、里面有各种网站技术分析，从更根本的技术角度帮助客户。

 为了能够节省客户时间，我的做法是独立开发网站，本网站是我独立开发的，也以拥有证明自己的专业能力。<br>


第一版的效果很差，因为客户根本不在乎这些，经过思考，我得出结论：传播是目的，网站是手段，应围绕目的做事。所以针对传播，我就开始了第2次改版，我认为客户需要优化网站，
也就是把自己的网站做到搜索引擎首页。我想把“石斌分享”关键词在网上传播，
 所以，我的网站内容架构全然改变了，也最终“石斌分享”关键词做到了百度和Google首页<br>


第二版效果仍然很差，虽然我把网站做到了首页，仍然没有领导愿意多与我说话，所以，我就进行了第三版优化：把“青岛模具”做到百度首页，不同于之前优化的关键词，“青岛模具”是有经济价值的，如司马迁说过“皆为利来”，所以，我相信
第三次改版是对的<br>

</p>

<h5>然后：</h5>
<p>本网站还有3个改版时候不重要细枝末节：1、中英双语，中英双语机制目标是美国Google浏览器seo优化。
  2、留言功能，改版时认为互动是有需要的，为了互动开发了此功能。 3、视频与图片教程：认为需要用图片和视频的方式分享一些东西。
  <br>这3个细枝末节中，中英双语其实是重要的，其余两个石斌将不再重视。即使有需求，面对面重视也比较好。

</p>

<p></p>
