

<h2>网站可以很重要</h2>
<h3>
  独立把自己的网站优化到搜索引擎首页，将大幅度减少对方的筛选成本和交易时的信任成本。
</h3>

<p>

  </p>





<h5>本网站非主要用于帮助朋友节省时间和正确做事，</h5>
1、石斌用自己践行后的硬经验，帮朋友节省时间、<br>

<br>

<h5>鉴于石斌要“帮助”朋友，那就说明石斌的自我要求应该更高，石斌在做以下事情：</h5>
<p>
1、独立搭建网站：从本地开发的设施安装、到开始开发、到云端服务器配置、到其他配置、最终上线。<br>
2、独立运营网站：根据外界的需求，更改网站的功能、添加网站内容<br>
3、独立优化关键词：暂时试图把“石斌”关键词做到百度首页。<br>

</p>
<p></p>
<%= link_to("沟通与咨询:",new_ask_path,:class=> 'btn btn-default')%>
