
<a>总结来说，幸福的人生就在做7件事情:</a>
<h2 style = "color:green">前四件：读书、健身、帮朋友、陪家人</h2>
<br>
<h2 style="color:green">后三件：健身、健脑、建脑</h2>

<h2>《何为建脑》</h2>
<a style= "color:black">
据现代科学研究，人的一切思考活动，本质上是大脑皮层脑神经元放电后的连接活动.
每一次放电和连接，都会在大脑皮层上加深一次沟回。<br>
所以，我们每一次的思考，本质上是在携带不同信息的神经元放电。
思考的次数多了、思考的深入了，就等于在大脑皮层上建立了更深的沟回
<br><br>无论是企业家还是程序员，人与人的最本质区别是：大脑皮层沟回的区别。
同样是对待自己的大脑，有的人能够在大脑皮层建设复杂的数学公式，甚至能用它在金融领域兴风作浪，
有的人能够设计出伟大的建筑，有的人能够制造出复杂的程序模拟世界的运行。而更多的人却只能为了温饱问题颠沛流离。
<br><br>
人的一切决策和选择，都是大脑皮层沟回的结果。
那么，如何在自己40多平方厘米的大脑皮层建设自己的大脑？
这当然需要不断得提问什么最重要、什么更重要、正确的逻辑究竟是什么？而且是终生都在提问<br>
只有这样一遍遍的提问，才会知道自己该要的究竟是什么。是短视频还是文字，是翻译书籍还是英文原版、是教育还是培训、是主动还是被动、如何积累...

<br>

当然，建设大脑是需要花时间的，但知道了人与人之间的不同在于大脑皮层的不同，它的第一个重要警示就涌现出来了:你的<a style = "color:red">时间、注意力</a>,
是最重要的建设大脑皮层的资本。你再也不敢轻视时间和注意力了。
<br>鲁迅曾说：浪费他人时间就是谋财害命。在这里有了更深刻的理解。
<hr>
<h2>石斌认为：节省客户时间是销售者的唯一责任。<br>


</h2>
<hr>


</a>
