
<table class = "table table-bordered">
<% @recommends.each do |recommend| %>
<tr>
<td>
<a href="<%=recommend.linkk%>"><%= recommend.title%></a>
</td>

<td>
<%= recommend.created_at %>
</td>


  </tr>
<% end %>

  </table>
